.main {
    width: 95%;
    padding-top: 12vh;
    padding-bottom: 13vh;
    margin-left: 2.5%;
}

.profile {
    display: flex;
    width: 65%;
    background: green;
    margin-bottom: 25px;
}

.profile .icon_user_profile {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin: 1%;
    margin-right: 0;
}

.profile .icon_user_profile img {
    width: 80%;
    border-radius: 50%;
}

.profile .info_user_profile {
    width: 95%;
    margin: 1%;
    margin-left: 0;
}

.profile .info_user_profile span {
    padding-left: 2%;
}

.profile .info_user_profile .info_list {
    width: 95%;
    display: inline-block;
    margin: 1%;
}

.profile .info_user_profile dl {
    display: inline-block;
}

.profile .info_user_profile dt {
    font-size: 3.5vh;
}

.profile .info_user_profile dd {
    font-weight: bold;
}

.profile .info_user_profile .coins, .profile .info_user_profile h1, .profile .info_user_profile p, .profile .info_user_profile dl {
    margin: 2%;
    font-size: 5vh;
}

.panel {
    width: 65%;
    font-size: 4vh;
    color: #fff;
}

.panel .achievements {
    width: 100%;
    margin-top: 25px;
    background: #222;
}

.panel .achievements .info_achievements {
    padding: 5px;
}

.panel .achievements .info_achievements .info_user {
    display: flex;
    justify-content: space-between;
}

.panel .achievements .info_achievements .info_user .info_main {
    display: flex;
    align-items: center;
    width: 100%;
}

.panel .achievements .info_achievements .info_user .info_main .icon {
    display: inline-block;
    width: max-content;
}

.panel .achievements .info_achievements .info_user .info_main .icon img {
    width: 4vw;
    border-radius: 50%;
    min-width: 100%;
}

.panel .achievements .info_achievements .info_user .info_main .details {
    display: inline-block;
    padding-left: 2%;
}

.panel .achievements .info_achievements .info_user .info_main .details #username_info {
    font-weight: bold;
}

.panel .achievements .img_achievements_info i {
    margin-left: 1%;
}

.panel .achievements .img_achievements_info p {
    display: inline-block;
}

.panel .achievements .img_achievements_info {
    background-image: url("/assets/media/logro.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    box-sizing: border-box;
}

.panel .achievements .img_achievements_info {
    width: 100%;
    padding-top: 35%;
    padding-bottom: 9%;
    font-size: 5vh;
    font-weight: bold;
}

.panel .achievements .info_interactions {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3vh;
    align-items: center;
}

.panel .achievements .info_interactions i {
    padding-left: 2%;
    cursor: pointer;
}

.aside {
    width: 30%;
    top: 0;
    right: 2.5%;
    padding-top: 12vh;
    position: fixed;
    color: #fff;
    font-size: 4vh;
}

.aside .icons_friends {
    display: flex;
    padding: 2%;
    border-radius: 100px;
    border-color: green;
    border-style: solid;
    align-items: center;
    justify-content: space-between;
}

.aside .icons_friends #icon_friend {
    padding-left: 1%;
}

.aside .icons_friends span {
    padding-left: 5%;
}

.aside .icons_friends #icon_search {
    padding-right: 2%;
}

.aside .icon_user_friend {
    display: inline;
    width: 20%;
    border-radius: 50%;
}

.aside .online_friends, .aside .offline_friends {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aside .online_friends .info_user_friend, .aside .offline_friends .info_user_friend {
    padding-left: 30px;
}

.aside .online_friends .info_user_friend h2, .aside .offline_friends .info_user_friend h2 {
    font-size: 2vw;
    margin-bottom: 10px;
}

.aside .online_friends .info_user_friend p, .aside .offline_friends .info_user_friend p {
    font-size: 1.5vw;
    margin-top: 10px;
}

.aside .online_friends img {
    border-color: green;
    border-style: solid;
    border-width: 0.5vw;
}

.aside .info_user_friend {
    display: inline-block;
}

@media only screen and (max-width:858px) {
    .profile {
        width: 100%;
        display: inline-block;
    }

    .profile .icon_user_profile {
        width: 100%;
    }

    .profile .icon_user_profile img {
        width: 50%;
    }

    .profile .info_user_profile {
        width: 100%;
        margin: 0%;
        text-align: center;
    }

    .panel {
        width: 100%;
    }

    .aside {
        width: 95%;
        display: block;
        position: inherit;
        padding-top: 0vh;
        margin-left: 2.5%;
    }

    .panel .achievements .info_achievements .info_user .info_main .icon img {
        width: 50px;
    }

    .aside .online_friends .info_user_friend h2, .aside .offline_friends .info_user_friend h2 {
        font-size: 5vw;
    }
    
    .aside .online_friends .info_user_friend p, .aside .offline_friends .info_user_friend p {
        font-size: 3.5vw;
    }
}
