.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
    font-weight: bold;
}

.language a {
    color: #21fb04;
}

.language i:hover {
    color: #008000;
    transition: 0.2s;
}

.language a i span {
    padding-left: 10px;
}

.social_media {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social_media p {
    margin-bottom: 10px;
}

.social_media i {
    font-size: 2vw;
}

.social_media p, .social_media i {
    color: #21fb04;
}

.social_media a {
    margin: 10px;
}

.social_media i:hover {
    color: #008000;
    transition: 0.2s;
}

.support button {
    color: #21fb04;
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
}

.support i:hover {
    color: #008000;
    transition: 0.2s;
}

.support i span {
    padding-left: 10px;
}

@media only screen and (max-width:858px) {
    .footer {
        font-size: 3vw;
    }

    .social_media i {
        font-size: 3vw;
    }
}