.footer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social_media {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social_media p {
    margin-bottom: 10px;
    font-size: 3vh;
    font-family: 'MS Gothic';
    font-weight: bold;
}

.social_media i {
    font-size: 4vh;
}

.social_media p, .social_media i {
    color: #fff;
}

.social_media a {
    margin: 10px;
}

.social_media i:hover {
    color: #21fb04;
    transition: 0.2s;
}