.header {
    width: 95%;
    position: fixed;
    padding: 5px 2.5%;
    list-style: none;
    z-index: 100;
    top: 0;
    background: #000;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
}

.menu #icon_xbox, .menu #icon_menu, .menu #icon_user {
    display: flex;
    align-items: center;
    font-size: 33px;
    color: #fff;
}

#icon_xbox:hover {
    color: #21fb04;
}

.menu #icon_xbox p {
    display: inline;
    padding: 5px;
    font-size: 30px;
}

.menu ul {
    position: absolute;
    right: 50px;
    top: 12px;
}

.menu ul li {
    display: inline;
    margin: 0px 10px;
}

.menu ul a li {
    color:#fff;
}

.menu ul a li:hover {
    color: #21fb04;
    text-decoration: underline;
}

.menu ul a li i {
    padding: 5px;
}

.menu #icon_menu, .menu #icon_user {
    display: none;
}

@media screen and (max-width: 858px) {
    .menu {
        justify-content: center;
    }

    .menu .account {
        display:none
    }

    .menu #icon_xbox p {
        display: none;
    }
    
    .menu #icon_menu {
        display: block;
        position: absolute;
        left: 5%;
        top: 5px;
    }

    .menu #icon_user {
        display: block;
        position: absolute;
        right: 2.5%;
        top: 5px;
    }

    .menu #icon_menu:hover, .menu #icon_user:hover {
        color: #21fb04;
    }

    .menu ul {
        width: 100%;
        position: absolute;
        left: 0;
        top: 40px;
        background: linear-gradient(#21fb04, #008000);
        text-align: center;

    }

    .menu ul a li {
        font-size: 30px;
        color: #000;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu ul a li:hover {
        color:#fff;
        text-decoration: none;
    }

    .menu ul li {
        display: block;
    }

    .menu #list_menu {
        overflow: hidden;
        transition: 0.5s;
    }
}